<!DOCTYPE html>
{% load filters %}
<html>
	<head>
		<meta charset="UTF-8" >
		<title>TumblrBlogging</title>
	</head>
	<body>
		<h1>Latest posts</h1>
		{% if latest_posts %}
		<nav id="latestPosts">
			<ul>
				{% for post in latest_posts %}
				<li>
					<article>
						<h2>
							<a href="/posts/{{ post.post_id }}/{{ post.slug }}/">
							{{ post.regular_title }}
							</a>
						</h2>
						<article>
							{{post.regular_body|truncatewords:40|safe}}
						</article>
						<time>{{post.date|time_to_date}}</time>
					</article>
				</li>
				{% endfor %}
			</ul>
		</nav>
		{% else %}
		<p>
			No posts have been written yet.
		</p>
		{% endif %}
	</body>
</html>