{% load filters %}
<html>
	<head>
		<title>TumblrBlogging</title>
	</head>
	<body>
		<h1>Latest posts</h1>
		{% if latest_posts %}
		<nav id="latestPosts">
			<ul>
				{% for post in latest_posts %}
				<li>
					<article>
						<h2><a href="/posts/{{ post.id }}/{{ post.slug }}/">{{ post|getkey:'regular-title' }}</a></h2>
						<article>
							{{post|getkey:'regular-body'|truncatewords:40|safe}}
						</article>
						<date>{{post|getkey:'unix-timestamp'|time_to_date}}</date>
					</article>
				</li>
				{% endfor %}
			</ul>
		</nav>
		{% else %}
		<p>
			No posts have been written yet.
		</p>
		{% endif %}
	</body>
</html>